<div id="body">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            event.preventDefault();
            $('#nValue').numeric();
            $('#btnSubmit').click(function () {
                $('#divResponseFib').visible();
            });

            $('#nValue').onerror = function () {
                alert("HI");
                this.setCustomValidity("Please enter only integer values.");
            };
        });
        
    </script>
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Readify Knock Knock Interview Challenge!</h1>                
            </hgroup>
           
        </div>
    </section>
    @using(Html.BeginForm())
    {
    <section class="content-wrapper main-content clear-fix">
        <h3>Fibonacci:</h3>
        <ol class="round">
            <li>
                <h4>Implementation Notes</h4>
                Returns the nth number in the fibonacci sequence.
                  <br /><br />
                Enter the index <input id="nValue" autocomplete="off" type="text" name="nValue" title="Only Integers" required pattern="\d*" />
                <br />
                <input id="btnSubmit" type="submit" value="Try it" />
              <div id="divResponseFib">
                <p>
                  <h4>Response</h4>
                  <p>
                      nth Number is : @ViewBag.Value1
                  </p>
                  <label id="lblValue"></label>
              </p>
                  </div>
            </li>

            
        </ol>
    </section>
    }
</div>
