<div id="body">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                alert("Hi");
                var nValue = $('#nValue').val();
                $.ajax({
                    url: "/api/fibonacci/GetValueAtN",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        txtValue: $("#nValue").val()
                    }),
                    async: false
                });
            });
        });
        function fnGetFibonacciSeriesNumber() {
            $.getJSON("api/fibonacci",
                function (data) {
                    $('#lblValue').text = data // Clear the table body.

                   
                    // Loop through the list of products.
                    //$.each(data, function (key, val) {
                    //    // Add a table row for the product.
                    //    var row = '<td>' + val.Name + '</td><td>' + val.Price + '</td>';
                    //    $('<tr/>', { text: row })  // Append the name.
                    //        .appendTo($('#products'));
                    //});
                });
        }
    </script>
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Readify Knock Knock Interview Challenge!</h1>                
            </hgroup>
           
        </div>
    </section>
    @using(Html.BeginForm())
    {
    <section class="content-wrapper main-content clear-fix">
        <h3>Fibonacci:</h3>
        <ol class="round">
            <li>
                <h4>Implementation Notes</h4>
                Returns the nth number in the fibonacci sequence.
                  <br /><br />
                Enter the index <input id="nValue" type="text" name="nValue" />
                <br />
                <input id="btnSubmit" type="submit" value="Try it" />
              <p>
                  <h4>Response</h4>
                  <p>
                      @ViewBag.Value1
                  </p>
                  <label id="lblValue"></label>
              </p>
            </li>

            
        </ol>
    </section>
    }
</div>
